.whitefont{
    color: white;
}
.zero-bottom-margin{
    margin-bottom: 0!important;
}
.height100{
height: 100%;
}

.flex-center{
    display: flex;
    align-items: center;
}
.tworemmt{
    margin-top: 2rem;
}
.fourremmt {
    margin-top: 4rem;
}
.primary-text-color{
 color:$primary-color;
}