<footer>
    <div class="row">
        <div class="columns small-12 medium-4 footer-form">
            <h4 class="title">REQUEST A QUOTE</h4>
            <form>
                <div class="row">
                    <div class="small-12 columns input-col ">
                        <label>Name
                        <input type="text" >
                        </label>
                    </div>
                    <div class="small-12 columns input-col">
                        <label>Country
                            <input type="text" >
                        </label>
                    </div>
                    <div class="small-12 columns input-col">
                        <label>Email
                        <input type="text" >
                        </label>
                    </div>
                    <div class="small-12 columns input-col">
                        <label>Phone
                        <input type="text" >
                        </label>
                    </div>
                    <div class="small-12 columns input-col">
                        <label>I want to develop..
                            <textarea row="20"></textarea>
                        </label>
                    </div>
                    <div class="small-12 columns input-col">
                        <button type="button" class="primary button expanded">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</footer>